# The port the backend runs on
PORT=5000

# The address of the python service for PDF extraction
# When running via Docker Compose, use 'http://python-service:8000/extract'
# When running locally without docker, use 'http://127.0.0.1:8000/extract'
PYTHON_SERVICE_URL=http://python-service:8000/extract
